<template>
  <button
    class="answer"
    :class="{
      'answer--correct': correct,
      'answer--wrong': wrong,
      'answer--selected': selected,
    }"
  >
    <div class="answer__content">
      <div class="answer__content-header">
        <div class="answer__text" v-html="text"></div>
        <IconCorrect v-show="correct" class="answer__icon answer__correct" />
        <IconWrong v-show="wrong" class="answer__icon answer__wrong" />
      </div>
      <div
        v-if="responseText && selected"
        class="answer__description"
        v-html="responseText"
        @click="sendAnalytics"
      />
      <div v-if="responseImage && selected" class="answer__image-wrapper">
        <img :src="responseImage" class="answer__image">
      </div>
    </div>
  </button>
</template>
<script>
import IconCorrect from '../icons/correct.vue';
import IconWrong from '../icons/wrong.vue';
import analytics from '../../utils/analytics';

export default {
  components: {
    IconCorrect,
    IconWrong,
  },
  props: {
    text: String,
    wrong: Boolean,
    correct: Boolean,
    selected: Boolean,
    responseText: String,
    responseImage: String,
  },
  methods: {
    sendAnalytics(event) {
      if (event.target.tagName === 'A') {
        analytics.send('Link', '');
      }
    },
  },
};
</script>
<style lang="stylus" scoped>
.answer {
  background-color transparent
  border 0
  font-size 14px
  color #222222
  line-height 24px
  border 1px solid #DDDDDD
  min-height 48px
  padding 12px 16px
  box-sizing border-box
  text-align left
  cursor pointer
  transition .2s ease
  display flex
  justify-content space-between

  &__image-wrapper {
    max-width 200px
    border-radius 2px
    overflow hidden
    margin-top 16px

    @media screen and (max-width: 375px) {
      max-width 100%
    }
  }

  &__content {
    width 100%
  }

  &__content-header {
    display flex
    justify-content space-between
    width 100%
  }

  &__image {
    width 100%
    height auto
    display block
  }

  &__description {
    margin-top 8px
    color #222222
  }

  &:hover {
    border-color #00AA32
  }

  &:focus {
    outline: 0
  }

  &__icon {
    margin-left 16px
    flex-shrink 0
  }

  &--wrong,
  &--wrong:hover {
    border-color #FF003C
    color #FF003C
  }

  &--correct {
    border-color #00AA32
    color #00AA32
  }
}
</style>
