<template>
    <div class="question-counter">Вопрос {{ questionNumber }} из {{ questionsCount }}</div>
</template>
<script>
export default {
  props: {
    questionNumber: Number,
    questionsCount: Number,
  },
};
</script>
<style lang="stylus" scoped>
.question-counter {
  opacity 0.6
  font-weight bold
  font-size 14px
  color #222222
  line-height 24px
  text-transform uppercase
  margin-bottom 8px

  +layout-mobile() {
    font-size 12px
    line-height 20px
  }

}
</style>
