<template>
  <transition
    name="show"
    enter-active-class="animated fadeIn faster"
    leave-active-class="animated fadeOut faster"
    @after-leave="$emit('complete')"
  >
    <div
      ref="wrapper"
      v-if="show" class="test-page content-wrapper"
      :style="{
        background: going.bgColor
      }"
    >
      <div ref="media" class="test-page__content content-wrapper__content">
        <Counter
          class="counter"
          :questionNumber="progress.questionNumber"
          :questionsCount="progress.questionsCount"
        />
        <Question
          class="one-question"
          :question="currentQuestion"
          @select-answer="onSelectAnswer"
          @next="onNextQuestion"
        />
      </div>
    </div>
  </transition>
</template>

<script>
import { mapGetters, mapActions, mapState } from 'vuex';

import analytics from '../../utils/analytics';
import Question from './question.vue';
import Counter from './counter.vue';

export default {
  components: {
    Counter,
    Question,
  },
  data() {
    return {
      show: false,
    };
  },
  computed: {
    ...mapGetters('test', ['currentQuestion', 'progress', 'nextQuestionImage']),
    ...mapState('test', [
      'going',
      'id',
    ]),
  },
  methods: {
    ...mapActions('test', ['nextQuestion', 'setAnswer', 'startTest']),

    onSelectAnswer(answer) {
      this.setAnswer(answer);
    },
    onNextQuestion() {
      if (this.progress.isFinish) {
        this.show = false;
      } else {
        this.nextQuestion();
        analytics.send({
          name: 'Step',
          label: `next-${this.currentQuestion.id + 1}`,
          id: this.id,
        });
      }
    },
  },
  mounted() {
    this.startTest();
    this.show = true;
    setTimeout(() => {
      this.$store.dispatch('resize');
    }, 0);
  },
};
</script>
