<template>
  <transition
    name="show"
    enter-active-class="animated flipInX faster"
    leave-active-class="animated flipOutX faster"
    @after-leave="$emit('complete')"
  >
    <div class="question" v-if="show">
       <QuestionMedia
       class="question__media"
       :question="question"></QuestionMedia>
       <div
        class="question__title"
        v-html="question.title"
      />
      <div class="question__answers">
        <Answer
          v-for="answer in question.answers"
          :key="answer.id"
          :data-id="answer.id"
          :text="answer.text"
          :responseText="answer.response"
          :responseImage="answer.image"
          :selected="!!currentQuestion.result && currentQuestion.result.selectedAnswer === answer"
          :correct="currentQuestion.result && currentQuestion.result.rightAnswer === answer"
          :wrong="currentQuestion.result
            && !currentQuestion.result.isRight
            && currentQuestion.result.selectedAnswer === answer"
          @click.native="onSelect(answer)"
          class="question__answer"
        ></Answer>
        <ui-btn
          ref="next"
          v-show="question.result"
          class="question__button"
          theme="answer"
          @click="$emit('next')"
        >
          <template
            v-if="progress.questionNumber < progress.questionsCount"
          >Дальше</template>
          <template v-else>Узнать результат</template>
        </ui-btn>
      </div>
    </div>
  </transition>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import loadImage from '../../utils/load-image';
import analytics from '../../utils/analytics';
import Answer from './answer.vue';
import QuestionMedia from './question-media.vue';

export default {
  components: {
    Answer,
    QuestionMedia,
  },
  data() {
    return {
      show: false,
      lastAnswer: {},
    };
  },
  props: {
    question: {
      type: Object,
      required: true,
    },
  },
  computed: {
    ...mapState('test', ['allAnswers', 'id']),
    ...mapGetters('test', [
      'nextQuestionImage',
      'progress',
      'currentQuestion',
      'nextQuestionImageLoaded',
    ]),
    disabled() {
      return !!this.question.result;
    },
  },
  watch: {
    question(to, from) {
      setTimeout(() => {
        this.$store.dispatch('resize');
      }, 0);
      const { $refs } = this;
      if (to.questionId !== from.questionId) {
        this.imageLoaded = false;
        to.answers
          .forEach((a) => {
            if (a.image) loadImage(a.image);
          });
      }
      if (!to.result) return;
      if ($refs.next.$el) {
        setTimeout(() => {
          $refs.next.$el.scrollIntoView({
            behavior: 'smooth',
            block: 'center',
          });
        }, 0);
      }
    },
  },
  methods: {
    onSelect(answer) {
      if (this.disabled) return;
      this.$emit('select-answer', answer);
      this.lastAnswer = answer;
    },
    sendEvent() {
      analytics.send({
        name: 'Link',
        id: this.id,
      });
    },
  },
  mounted() {
    this.show = true;
    setTimeout(() => {
      this.$store.dispatch('resize');
    }, 0);

    if (this.nextQuestionImage) {
      loadImage(this.nextQuestionImage);
    }
  },
  updated() {
    if (this.nextQuestionImage && !this.nextQuestionImageLoaded) {
      loadImage(this.nextQuestionImage).then(() => {
        this.$store.dispatch('test/nextQuestionImageLoaded', null, { root: true });
      });
    }
  },
};
</script>

<style lang="stylus">
@keyframes reveal {
  0% {
    opacity 0
  }

  100% {
    opacity 1
  }
}

.question {
  display flex
  flex-flow column
  justify-content space-between
  align-items flex-start

  +layout-mobile() {
    padding 0
  }

  &__title {
    font-weight bold
    font-size 24px
    color #222222
    line-height 28px
    margin-top 32px

    +layout-mobile() {
      font-size 18px
      line-height 1.2
      margin-top 16px
    }
  }

  &__media {
    width 100%
  }

  &__answers {
    flex-grow 1
    display flex
    flex-direction column
    justify-content flex-end
    width 100%
    margin-top 24px

    +layout-mobile() {
      margin-top 16px
    }
  }

  &__answer {
    & + & {
      margin-top 8px
    }
  }

  &__button {
    margin-top 16px
    align-self center
  }
}

</style>
