<template>
<div>
<img
    class="question__image"
    v-if="question.image"
    :src="currentImage"
    :class="{
        'is-loaded': imageLoaded
    }"
    @load="mediaLoadedHandler"
    />
<div class="question__media-wrapper"
:class="{'question__media-wrapper--youtube': question.media.mediaType == 'yt'}"
v-if="question.media">
    <img
        class="question__image"
        v-if="question.media.mediaType == 'img'"
        :src="question.media.url"
        :class="{
        'is-loaded': imageLoaded
        }"
        @load="mediaLoadedHandler"
    />
    <instagram-embed
    v-if="question.media.mediaType == 'it'"
    :url="question.media.url"
    :max-width='500'
    :hide-caption='true'
    class-name="question__instagram"
    @hook:updated="mediaLoadedHandler"
    />
    <youtube
    v-if="question.media.mediaType == 'yt'"
    :video-id="youtubeUrl"
    @ready="mediaLoadedHandler">
    </youtube>
    <tweet
    v-if="question.media.mediaType == 'tw'"
    :id="twitterUrl"
    @hook:updated="mediaLoadedHandler"></tweet>
</div>
</div>
</template>

<script>
import InstagramEmbed from 'vue-instagram-embed';
import { Tweet } from 'vue-tweet-embed';
import { getIdFromURL } from 'vue-youtube-embed';

export default {
  props: {
    question: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      imageLoaded: false,
    };
  },
  components: {
    InstagramEmbed,
    Tweet,
  },
  methods: {
    mediaLoadedHandler() {
      this.$store.dispatch('resize');
      this.imageLoaded = true;
    },
  },
  computed: {
    currentImage() {
      // TODO: добавить загрузку картинки
      return this.question.image;
    },
    youtubeUrl() {
      return getIdFromURL(this.question.media.url);
    },
    twitterUrl() {
      return this.question.media.url.match(/\d+/)[0];
    },
  },
};
</script>

<style lang="stylus">
.question {
    &__media-wrapper {
    width 100%

    &--youtube {
       position relative
       padding-bottom 70%

       iframe {
          width 100% !important
          height 100% !important
          position absolute
        }
    }

    iframe {
      min-width 0px !important
      max-width none !important
    }
  }

  &__image {
    display block
    width 100%
    height auto
    opacity 0
    transition .3s ease

    &.is-loaded {
      opacity 1
    }
  }
}

</style>
