<template>
  <div class="shares">
    <template v-if="!isApp">
      <ui-social
        v-for="type in types"
        :key="type"
        :type="type"
        @click.native="share(type)"
        class="share__button"
      />
    </template>
    <template v-else>
      <a
        v-for="type in types"
        :key="type"
        :href="getLink(type)"
        @click="track(type)"
        class="share__button"
        target="_blank"
      >
        <ui-social :type="type" />
      </a>
      <a
      v-if="this.id === 'parimatch-2'"
      class="share__button ui-social"
      target="_blank"
      @click="instaStoryClicked"
      :href="getLinkForInstaStory">
        <img src="https://s5o.ru/storage/dumpster/a/31/9af5f802f436128909ce7a47049b7.svg">
      </a>
    </template>
  </div>
</template>

<script>
import analytics from '../../utils/analytics';
import Share from '../../utils/share';
import { mapGetters, mapState } from 'vuex';
import codec from '../../utils/codec';

export default {
  data() {
    return {
      show: false,
      types: ['vk', 'fb', 'tw'],
    };
  },
  methods: {
    share(type) {
      Share.open(type, this.sharedData);
      this.track(type);
    },
    track(type) {
      analytics.send({
        name: 'Share',
        label: type,
        id: this.id,
      });
    },
    getLink(type) {
      return Share.getLink(type, this.sharedData);
    },
    instaStoryClicked() {
      analytics.send({
        name: 'Share',
        label: 'instaStory',
        id: this.id,
      });
    },
  },
  computed: {
    ...mapGetters('test', ['result']),
    ...mapState('test', [
      'id',
      'redirectURL',
    ]),
    sharedData() {
      return {
        url: this.url,
        image: this.result.share.image,
        title: this.result.share.title,
        description: this.result.share.description,
      };
    },
    isApp() {
      return !window.top.Sports;
    },
    url() {
      const encoded = codec.encode({
        r: this.result.index,
        c: this.result.rightCount,
      });
      return this.result.url
      || `${window.location.origin}/embeds/test/simple/${this.id}/${encoded}/`;
    },
    getLinkForInstaStory() {
      const storyResult = [
        {
          toRightCount: 0,
          share: 'https://s5o.ru/storage/dumpster/0/02/e7a90a13ae8ba6cf2922726d4606b.jpg',
        },
        {
          toRightCount: 5,
          share: 'https://s5o.ru/storage/dumpster/a/38/7b9da82c7c92205ec8db921765810.jpg',
        },
        {
          toRightCount: 8,
          share: 'https://s5o.ru/storage/dumpster/2/32/a79d610f235959f74bbd8233b7819.jpg',
        },
        {
          toRightCount: 12,
          share: 'https://s5o.ru/storage/dumpster/2/67/a245dcb91cfeddc9844c3a97e1a56.jpg',
        },
      ];
      let url = '';
      storyResult.forEach((res) => {
        if (this.result.rightCount >= res.toRightCount) {
          url = res.share;
        }
      });
      return url;
    },
  },
};
</script>

<style lang="stylus" scoped>
.shares {
  display flex
  margin 0 auto
  justify-content center
  .share__button--last {
  }
}

.share__button {
  display block
  & + & {
    margin-left 8px
  }
}

.ui-social{
  cursor pointer
  transition transform .15s linear
}

.ui-social:hover {
  transform scale(1.1)
}
</style>
