<template>
  <transition
    name="show"
    enter-active-class="animated fadeIn"
    leave-active-class="animated fadeOut"
    @after-leave="$emit('complete')"
  >
    <div
      v-if="show"
      :style="{
        color: start.textColor,
        backgroundColor: start.bgColor
      }"
      class="hello-page"
    >
      <picture v-if="start.background" class="hello-page__bg" aria-hidden="true">
        <source
          v-if="start.background.desktop"
          :srcset="start.background.desktop"
          media="(min-width: 730px)"
        >
        <source
          v-if="start.background.mobile"
          :srcset="start.background.mobile" media="(max-width: 729px)">
        <img :src="start.background.desktop">
      </picture>
      <div class="hello-page__content">
        <div>
          <div class="hello-page__title">{{ start.title }}</div>
          <div class="hello-page__lead">{{ start.lead }}</div>
        </div>

        <div class="hello-page__button-wrapper">
          <ui-btn
            :bg="start.button.bgColor"
            :textColor="start.button.textColor"
            theme="start"
            @click="begin"
            class="hello-page__button"
          >{{ start.button.text }}</ui-btn>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { mapGetters, mapState } from 'vuex';
import analytics from '../../utils/analytics';
import loadImage from '../../utils/load-image';

export default {
  data() {
    return {
      show: false,
    };
  },
  computed: {
    ...mapGetters('test', ['currentQuestionImage']),
    ...mapState('test', [
      'start',
      'brand',
      'id',
    ]),
  },
  mounted() {
    this.show = true;
    if (this.currentQuestionImage) loadImage(this.currentQuestionImage);
    setTimeout(() => {
      this.$store.dispatch('resize');
    }, 0);
  },
  methods: {
    begin() {
      this.show = false;
      analytics.send({
        name: 'Step',
        label: 'start',
        id: this.id,
      });
    },
  },
};
</script>

<style lang="stylus" scoped>
.hello-page {
  display flex
  flex-flow column nowrap
  justify-content space-between
  position relative
  z-index 1
  flex-grow 1

  &__bg {
    position absolute
    top 0
    bottom 0
    left 0
    right 0
    z-index -1
    img {
      width 100%
      height 100%
      object-fit cover
    }
  }

  &__content {
    flex-grow 1
    display flex
    flex-direction column
    justify-content flex-end
    padding-bottom 56px
    align-items center
    padding-left 80px
    padding-right 80px
    +layout-mobile() {
      padding-left 15px
      padding-right 15px
    }
  }

  &__title {
    font-weight bold
    font-size 32px
    text-align center
    margin-bottom .5em
    line-height (36/32)

    +layout-mobile() {
      font-size 22px
    }
  }

  &__lead {
    font-size 16px
    text-align center
    line-height 24px
    margin-bottom 1em

    +layout-mobile() {
      font-size 14px
      line-height 18px
    }
  }
}
</style>
