<template>
  <span class="ui-social" :class="classes">
    <span class="ui-social__bg"></span>
    <component :is="'icon-' + type"></component>
  </span>
</template>

<script>
export default {
  components: {},
  data() {
    return {};
  },
  props: {
    type: String,
    size: String,
  },
  computed: {
    classes() {
      return {
        [`is-type-${this.type}`]: this.type,
        [`is-size-${this.size}`]: this.size,
      };
    },
  },
  methods: {},
};
</script>

<style lang="stylus" scoped>
.ui-social {
  width 48px
  height 48px
  font-size 0
  display flex
  align-items center
  justify-content center
  position relative
  cursor pointer
  transition transform .15s linear

  &__bg {
    position absolute
    z-index 1
    top 0
    left 0
    right 0
    bottom 0
  }

  &:hover {
    transform scale(1.1)
  }

  .test-app-icon {
    position relative
    z-index 2
    flex 0 0 22.5px
    width 22.5px
    height @width

    >>> svg {
      height 100%
      width 100%
    }
  }

  &.is-type-vk &__bg {
    background-color $color-vk
  }

  &.is-type-tw &__bg {
    background-color $color-tw
  }

  &.is-type-tw .test-app-icon {
    width 24px
    flex 0 0 24px
  }

  &.is-type-fb &__bg {
    background-color $color-fb
  }

  &.is-type-tg &__bg {
    background-color $color-tg
  }
}
</style>
