<template>
  <select v-model="selected" @change="onChange(selected)" class="custom-select mb-2 w-25">
      <option v-for="background in backgrounds"
      :key="background.url"
      :label="background.label"
      :value="background.url"></option>
  </select>
</template>

<script>
import DefaultImages from '../../assets/images/defaults';

export default {
  props: ['onChange'],
  data() {
    return {
      selected: '',
    };
  },
  computed: {
    backgrounds() {
      return DefaultImages.getAllStartBackgrounds();
    },
  },
};
</script>

<style>

</style>
