<template>
  <json-editor
        class="constructor__editor"
        :key="editorKey"
        :schema="propertiesSchema"
        :initial-value="initialValue"
        :noSelect2="true"
        @update-value="onUpdate($event)"
        :locale="locale"
        theme="bootstrap4"
      ></json-editor>
</template>

<script>
import 'vue-schema-based-json-editor';

const locale = {
  button: {
    collapse: 'Скрыть',
    expand: 'Показать',
    add: 'Добавить',
    delete: 'Удалить',
  },
  info: {
    notExists: 'Отсутствует',
    true: 'Да',
    false: 'Нет',
    search: 'Найти поле',
  },
};
export default {
  props: ['onUpdate', 'editorKey', 'initialValue', 'propertiesSchema'],
  data() {
    return {
      locale,
    };
  },
};
</script>
