<template>
  <div class="ssufc-ui-spinner"></div>
</template>

<script>
export default {
  components: {},
  data() {
    return {};
  },
  props: {},
  computed: {},
  methods: {},
};
</script>

<style lang="stylus" scoped>
.ssufc-ui-spinner,
.ssufc-ui-spinner:after {
  border-radius 50%
  width 3rem
  height 3rem
}

.ssufc-ui-spinner {
  font-size 10px
  position relative
  text-indent -9999em
  border-top .2em solid rgba(255, 255, 255, .2)
  border-right .2rem solid rgba(255, 255, 255, .2)
  border-bottom .2rem solid rgba(255, 255, 255, .2)
  border-left .2rem solid $color-accent
  -webkit-transform translateZ(0)
  -ms-transform translateZ(0)
  transform translateZ(0)
  -webkit-animation load8 1.1s infinite linear
  animation load8 1.1s infinite linear
}

@keyframes load8 {
  0% {
    -webkit-transform rotate(0deg)
    transform rotate(0deg)
  }

  100% {
    -webkit-transform rotate(360deg)
    transform rotate(360deg)
  }
}

@keyframes load8 {
  0% {
    -webkit-transform rotate(0deg)
    transform rotate(0deg)
  }

  100% {
    -webkit-transform rotate(360deg)
    transform rotate(360deg)
  }
}
</style>
