<template>
  <div class="test">
    <a
      v-if="brand.title"
      :style="{
        backgroundColor: brand.bgColor
      }"
      :href="brand.link"
      @click="brandLinkClick"
      target="_blank"
      class="test__sponsor"
    >
      <img :src="brand.logo" :alt="brand.title" class="test__sponsor-logo">
    </a>
    <Hello
        class="app__page app__page--hello"
        v-if="route === 'hello'"
        ref="helloComponent"
        @complete="route = 'test'"/>

    <Test
        class="app__page app__page--test"
        v-if="route === 'test'"
        ref="testComponent"
        @complete="route = 'result'"/>

    <Result
        class="app__page app__page--result"
        v-if="route === 'result'"
        @complete="route = 'hello'"/>
  </div>
</template>
<script>
import { mapActions, mapState } from 'vuex';
import analytics from '../utils/analytics';
import Hello from '../components/hello/index.vue';
import Test from '../components/test/index.vue';
import Result from '../components/result/index.vue';

export default {
  components: {
    Hello,
    Test,
    Result,
  },
  data() {
    return {
      route: 'preload',
    };
  },
  methods: {
    ...mapActions('test', ['setTest']),
    brandLinkClick() {
      analytics.send({
        name: 'TOP_click',
        id: this.testId,
      });
    },
    changeRoute(route) {
      this.route = route;
    },
  },
  created() {
    if (!this.testId) return;
    this.setTest({ id: this.testId })
      .then(() => {
        this.route = 'hello';
      });
  },
  computed: {
    testId() {
      if (!this.$route || !this.$route.params) return null;
      return this.$route.params.testId;
    },
    ...mapState('test', [
      'brand',
    ]),
  },
};
</script>
<style lang="stylus">
.test {
  width 730px
  max-width 100%
  margin-left auto
  margin-right auto
  min-height 575px
  display flex
  flex-direction column

  +layout-mobile() {
    min-height 474px
  }

  &__sponsor {
    display flex
    justify-content center
    height 48px
    align-items center

    +layout-mobile() {
      height 40px
    }

    img {
      height 20px
    }
  }
}
</style>
