<template>
  <component
    :is="tag"
    class="ui-btn"
    :href="href"
    :class="classes"
    :style="styles"
    @click="onClick"
  >
    <span v-if="$slots.icon" class="ui-btn__icon">
      <slot name="icon"></slot>
    </span>
    <span>
      <slot></slot>
    </span>
  </component>
</template>

<script>
export default {
  components: {},
  data() {
    return {};
  },
  props: {
    bgColor: String,
    bg: String,
    textColor: String,
    size: String,
    theme: String,
    disabled: Boolean,
    href: String,
  },
  computed: {
    classes() {
      return {
        [`is-theme-${this.theme}`]: this.theme,
        [`is-size-${this.size}`]: this.size,
        'is-disabled': this.disabled,
      };
    },
    styles() {
      const result = {};
      if (this.bgColor) result.backgroundColor = this.bgColor;
      if (this.bg) result.background = this.bg;
      if (this.textColor) result.color = this.textColor;
      return result;
    },
    tag() {
      return this.href ? 'a' : 'button';
    },
  },
  methods: {
    onClick() {
      if (!this.disabled) {
        this.$emit('click');
      }
    },
  },
};
</script>

<style lang="stylus" scoped>
.ui-btn {
  border 0 none
  cursor pointer
  display inline-flex
  justify-content center
  align-items center
  box-sizing border-box
  user-select none
  height 48px
  min-width 184px
  text-align center
  outline none
  transition color .3s ease, background-color .3s ease, transform .2s ease
  font-weight bold
  text-transform uppercase
  font-size 12px
  line-height 14px
  color #FFFFFF
  text-align center
  background-color transparent
  background-color #00AA32
  transition .2s ease
  text-decoration none

  &:hover {
    opacity 0.8
  }

  +layout-mobile() {
  }

  &__icon {
    margin-right 8px
  }

  span {
    display inline-block
  }

  &.is-stretch {
    width 100%
  }

  &.is-disabled {
    opacity .3
    pointer-events none
  }

  &.is-theme-cta {
    font-size 16px
  }

}
</style>
