<template>
  <transition
    name="show"
    enter-active-class="animated fadeIn faster"
    leave-active-class="animated fadeOut faster"
    @after-leave="$emit('complete')"
  >
    <div
      v-if="show"
      class="result content-wrapper"
      :style="{
        background: going.bgColor
      }"
    >
    <div class="content-wrapper__content" ref="card">
      <div class="result__heading">Ваш результат</div>
      <ResultCard
        class="result__card"
        :brandLogo="brand.shareLogo"
        :correctCount="progress.rightCount"
        :totalCount="progress.questionsCount"
        :title="result.title"
        :description="result.description"
        :site="site"
        :image="result.image"
        @hook:mounted="scroll"
      />
      <ui-btn
        @click.native="replay"
        theme="neutral"
        bgColor="#F9F9F7"
        textColor="#000"
        class="result__replay"
      >
        <template v-slot:icon><AgainIcon /></template>
        <template v-slot:default>{{ end.replayLabel }}</template>
      </ui-btn>
      <div class="result__footer">
        <div class="result__footer-title">
          {{ brand.aboutTitle }}
        </div>
        <div class="result__footer-description">
          {{ brand.description }}
        </div>
        <ui-btn
          v-if="brand.CTALink"
          @click="targetLinkClick"
          :href="brand.CTALink"
          :bgColor="brand.CTABgColor"
          :textColor="brand.CTATextColor"
          theme="cta"
          target="_blank"
          class="result__button"
        >{{brand.CTAText}}</ui-btn>
        <div class="result__shares-wrapper">
          <div class="result__shares-title">{{ end.shareTitle }}</div>
          <div class="result__shares">
            <Shares class="result-shares-btn" :result="true" :count="progress.rightCount" />
          </div>
        </div>
      </div>
    </div>
    </div>
  </transition>
</template>

<script>
import { mapGetters, mapActions, mapState } from 'vuex';
import Shares from '../share/index.vue';
import AgainIcon from '../icons/reset.vue';
import analytics from '../../utils/analytics';
import ResultCard from './result-card.vue';

export default {
  components: {
    Shares,
    ResultCard,
    AgainIcon,
  },
  data() {
    return {
      show: false,
      showBg: false,
    };
  },
  computed: {
    ...mapGetters('test', ['progress', 'result', 'data']),
    ...mapState('test', ['brand', 'going', 'end', 'id', 'site']),
  },
  methods: {
    ...mapActions('test', ['reset']),
    replay() {
      this.show = false;
      this.$emit('replay');
      this.reset();
      analytics.send({
        name: 'Retry',
        id: this.id,
      });
    },
    targetLinkClick() {
      analytics.send({
        name: 'CTA_click',
        id: this.id,
      });
    },
    scroll() {
      this.$refs.card.scrollIntoView({
        behavior: 'smooth',
        block: 'center',
      });
    },
  },
  mounted() {
    this.show = true;
    setTimeout(() => {
      this.$store.dispatch('resize');
    }, 0);
    setTimeout(() => {
      this.showBg = true;
    }, 100);
  },
};
</script>
<style lang="stylus" scoped>
.content-wrapper__content {
  display flex
  flex-direction column
}

.result {
  display flex
  flex-direction column

  &__card {
    overflow hidden
    border-radius 4px
    margin-bottom 16px

    +layout-mobile() {
      margin-bottom 20px
    }
  }

  &__heading {
    display none
    opacity 0.6
    font-weight bold
    font-size 14px
    color #222222
    line-height 24px
    text-transform uppercase
    margin-bottom 8px

    +layout-mobile() {
      display block
    }
  }

  &__button {
    width 100%
  }

  &__shares-title {
    margin-top 16px
    margin-bottom 16px
    margin-right 32px
  }

  &__shares-wrapper {
    margin-top 24px
    display flex
    justify-content space-between
    align-items center
    flex-wrap wrap
    font-weight bold
    font-size 17px
    line-height 24px
    +layout-mobile() {
      margin-top 8px
    }
  }

  &__replay {
    align-self center
    +layout-mobile() {
      align-self flex-start
    }
  }

  &__footer {
    padding-top 16px

    +layout-mobile() {
      border-top 0
      padding-top 24px
    }

    &-title {
      font-weight bold
      font-size 17px
      line-height 24px
      margin-bottom 8px

      +layout-mobile() {
        font-size 16px
      }
    }

    &-description {
      font-size 15px
      line-height 24px
      margin-bottom 16px

      +layout-mobile() {
        font-size 14px
        line-height 20px
      }

    }
  }
}
</style>
