<template>
  <div class="result-card" :class="{'result-card--share': isShare}">
    <div v-if="image" class="result-card__bg">
        <img :src="image"  @load="imageLoadedHandler">
    </div>
    <div class="result-card__content">
      <div class="result-card__header">
        <SportsLogo v-if="site === 'www.sports.ru'" class="result-card__site-logo"/>
        <TribunaLogo
          v-if="site === 'ua.tribuna.com' || site === 'by.tribuna.com'"
          class="result-card__site-logo"
        />
        <img v-if="brandLogo" :src="brandLogo" class="result-card__brand-logo">
      </div>
      <div class="result-card__main">
        <div class="result-card__counter">
          <span class="result-card__counter-correct">{{correctCount}}</span>
          из
          {{totalCount}}
        </div>
        <div class="result-card__title">{{title}}</div>
         <div v-if="!CTAText" class="result-card__description">{{description}}</div>
          <div v-if="CTAText" class="result-card__cta"
          :style="{color:CTATextColor,background:CTABgColor}">{{CTAText}}</div>
      </div>
    </div>
  </div>
</template>
<script>
import SportsLogo from '../icons/sports.vue';
import TribunaLogo from '../icons/tribuna.vue';

export default {
  components: {
    SportsLogo,
    TribunaLogo,
  },
  props: {
    site: String,
    brandLogo: String,
    correctCount: Number,
    totalCount: Number,
    title: String,
    description: String,
    image: String,
    CTAText: String,
    CTATextColor: String,
    CTABgColor: String,
    isShare: Boolean,
  },
  methods: {
    imageLoadedHandler() {
      this.$store.dispatch('resize');
    },
  },
};
</script>
<style lang="stylus">
.result-card {
  position relative

  &--share {
    width 1200px
    height 630px

    & ^[0]__header {
      height 62px
    }

    & ^[0]__site-logo {
      height 44px
    }

    & ^[0]__content {
      padding 60px 88px
    }

    & ^[0]__counter {
      font-size 54px
      margin-bottom 32px
    }

    & ^[0]__title {
      font-size 72px

      & + ^[0]__cta {
        margin-top 47px
      }
    }

    & ^[0]__description {
      font-size 40px
      line-height 1.1

      & + ^[0]__cta {
        margin-top 24px
      }
    }
  }

  &__cta {
    border 0
    padding 24px 68px
    display inline-block
    font-size 26px
    text-transform uppercase
    font-weight bold
  }

  &__bg {
    position relative

    &:after {
        content ''
        display block
        background linear-gradient(0deg, rgba(0,0,0,.7), rgba(0,0,0,.4))
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
    }

    +layout-mobile() {
      &:after {
        display none
      }
    }

    img {
      width 100%
      height auto
      display block
    }
  }

  &__site-logo {
    height 100%
    width auto
  }

  &__content {
    position absolute
    bottom 0
    top 0
    left 0
    right 0
    display flex
    flex-direction column
    justify-content space-between
    padding 29px 38px 38px
    color #fff
    font-family 'Roboto Condensed', sans-serif

    +layout-mobile() {
      position static
      color #000
      padding 0
      font-family 'Roboto', sans-serif
      margin-top 12px
    }
  }

  &__header {
    display flex
    justify-content space-between
    align-items center
    height 22px
    +layout-mobile() {
      display none
    }
  }

  &__brand-logo {
    height 100%
    width auto
  }

  &__counter {
    font-size 25px
    font-weight bold
    line-height 1
    margin-bottom 11px
    color rgba(255,255,255,.6)

    +layout-mobile() {
      opacity 1
      font-size 20px
      line-height 28px
      margin-bottom 0
      color inherit
    }

    &-correct {
      color #fff
      +layout-mobile() {
        opacity 1
        color inherit
      }
    }
  }
  &__title {
    font-size 34px
    line-height 1
    font-weight bold
    margin-bottom 19px
    padding-right 30px
    +layout-mobile() {
      padding-right 0
      font-size 20px
      line-height 28px
      margin-bottom 6px
    }
  }
  &__description {
    font-size 19px
    line-height 22px
    opacity 0.8
    padding-right 30px
    +layout-mobile() {
      padding-right 0
      opacity 1
      font-size 14px
      line-height 18px
    }
  }
}
</style>
