<template>
  <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path fill="#00AA32" d="M8.395 15.546L5.5 12.69l1.447-1.428 2.895 2.857L17.052 7 18.5 8.429 9.817 17l-1.448-1.429z"/></g></svg>
</template>
