<template>
  <div class="test-app-icon">
    <svg
      width="13px"
      height="27px"
      viewBox="0 0 13 27"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-266.000000, -398.000000)" fill="#FFFFFF" fill-rule="nonzero">
          <g transform="translate(253.000000, 391.000000)">
            <path
              d="M24.8499115,20.6350442
              L21.3065487,20.6350442
              L21.3065487,33.6162832
              L15.9380531,33.6162832
              L15.9380531,20.6350442
              L13.3847788,20.6350442
              L13.3847788,16.0729204
              L15.9380531,16.0729204
              L15.9380531,13.120708
              C15.9380531,11.0095575
              16.940885,7.70371681
              21.3543363,7.70371681
              L25.3309735,7.72035398
              L25.3309735,12.1486726
              L22.4456637,12.1486726
              C21.9723894,12.1486726
              21.3069027,12.3851327
              21.3069027,13.3922124
              L21.3069027,16.0771681
              L25.3189381,16.0771681
              L24.8499115,20.6350442 Z"
            />
          </g>
        </g>
      </g>
    </svg>
  </div>
</template>
