<template>
  <svg width="10" height="12" viewBox="0 0 10 12" xmlns="http://www.w3.org/2000/svg"><path d="M10 7.2v-.6H8.75v.6c0 1.985-1.682 3.6-3.75 3.6S1.25 9.185 1.25 7.2 2.932 3.6 5 3.6h.625V6L8.75 3 5.625 0v2.4H5c-2.757 0-5 2.153-5 4.8S2.243 12 5 12s5-2.153 5-4.8z" fill="#000" fill-rule="nonzero"/></svg>
</template>
