<template>
  <div class="test-app-icon">
    <svg
      width="40px"
      height="40px"
      viewBox="0 0 40 40"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-437.000000, -391.000000)" fill-rule="nonzero">
          <g transform="translate(253.000000, 391.000000)">
            <g transform="translate(184.000000, 0.000000)">
              <circle fill="#41B4E6" cx="19.9997656" cy="20" r="19.9997656" />
              <path
                d="M40,20.0002344
                C40,19.5128906
                39.9816406,19.03
                39.9474219,18.5513281
                L31.6584375,10.2625
                L8.3415625,19.4342969
                L17.2627344,28.3555469
                L17.3797656,28.7767969
                L17.53125,28.6240625
                L17.531875,28.6246875
                L17.3797656,28.7767969
                L27.2482813,38.6453125
                C34.7107813,35.7421875
                40,28.4892969
                40,20.0002344
                Z"
               fill="#0091C8"
              />
              <polygon
                fill="#FFFFFF"
                points="18.0576563
                22.9140625
                27.0960156
                29.7380469
                31.6584375
                10.2625
                8.34148438
                19.4342969
                15.4365625
                21.784375
                28.3852344
                13.09875"
             />
              <polygon
                fill="#D2D2D7"
                points="15.4365625
                21.784375
                17.3797656
                28.776875
                18.0576563
                22.9140625
                28.3852344
                13.09875"
             />
              <polygon
                fill="#B9B9BE"
                points="20.9951563 25.131875 17.3797656 28.776875 18.0576563 22.9140625"
              />
            </g>
          </g>
        </g>
      </g>
    </svg>
  </div>
</template>
