/* eslint-disable max-len */
<template>
  <div class="test-app-icon">
    <svg
      width="23px"
      height="19px"
      viewBox="0 0 23 19"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-323.000000, -403.000000)" fill="#F1F2F2" fill-rule="nonzero">
          <g transform="translate(253.000000, 391.000000)">
            <g transform="translate(61.000000, 0.000000)">
              <path
                d="M32.0215929,14.2711504
                C31.1706195,14.6484956
                30.2552212,14.9037168
                29.2952212,15.0176991
                C30.2753982,14.4304425
                31.0276106,13.5012389
                31.3826549,12.3922124
                C30.4654867,12.9362832
                29.4492035,13.3309735
                28.3684956,13.5437168
                C27.5026549,12.6215929
                26.2690265,12.0453097
                24.9030088,12.0453097
                C22.2821239,12.0453097
                20.1564602,14.1709735
                20.1564602,16.7918584
                C20.1564602,17.1638938
                20.1985841,17.5260177
                20.28,17.8736283
                C16.3352212,17.6757522
                12.8375221,15.7861947
                10.4962832,12.9136283
                C10.0877876,13.6145133
                9.85345133,14.4304425
                9.85345133,15.300177
                C9.85345133,16.9465487
                10.6920354,18.4
                11.9649558,19.2509735
                C11.1872566,19.2265487
                10.4548673,19.0130973
                9.81522124,18.6566372
                C9.81486726,18.6768142
                9.81486726,18.6969912
                9.81486726,18.7168142
                C9.81486726,21.0166372
                11.4516814,22.9348673
                13.6226549,23.3706195
                C13.2247788,23.479646
                12.8046018,23.5373451
                12.3723894,23.5373451
                C12.0658407,23.5373451
                11.7688496,23.5079646
                11.479292,23.4527434
                C12.0831858,25.3380531
                13.8357522,26.7104425
                15.9132743,26.7490265
                C14.2884956,28.0223009
                12.2421239,28.780885
                10.0176991,28.780885
                C9.63539823,28.780885
                9.25663717,28.7585841
                8.8860177,28.7143363
                C10.9854867,30.0615929
                13.4810619,30.8470796
                16.1614159,30.8470796
                C24.8920354,30.8470796
                29.6665487,23.6145133
                29.6665487,17.3415929
                C29.6665487,17.1359292
                29.6619469,16.9309735
                29.6527434,16.7277876
                C30.580885,16.0587611
                31.3854867,15.2230088
                32.0215929,14.2711504
                L32.0215929,14.2711504
                Z"
             />
            </g>
          </g>
        </g>
      </g>
    </svg>
  </div>
</template>
