<template>
  <div class="test-app-icon">
    <svg
      width="22px"
      height="13px"
      viewBox="0 0 22 13"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Старт" transform="translate(-378.000000, -487.000000)" fill="#FFFFFF">
          <g id="Соцсети" transform="translate(273.000000, 475.000000)">
            <g id="vk-(1)" transform="translate(100.000000, 0.655121)">
              <path
                d="M15.7637788,23.5678407
                L17.0496106,23.5678407
                C17.0496106,23.5678407
                17.4380177,23.5252035
                17.6363097,23.3114336
                C17.8188319,23.1151858
                17.8129912,22.7466372
                17.8129912,22.7466372
                C17.8129912,22.7466372
                17.7878761,21.021292
                18.5886372,20.7672212
                C19.3780088,20.5169469
                20.3916637,22.4347434
                21.4660619,23.1721327
                C22.2785044,23.7302124
                22.8958673,23.6078496
                22.8958673,23.6078496
                L25.7686195,23.5678407
                C25.7686195,23.5678407
                27.2714336,23.4752655
                26.5588673,22.2936903
                C26.5004602,22.1970265
                26.143885,21.4196283
                24.4229204,19.8221947
                C22.621646,18.150292
                22.8628673,18.4207168
                25.0326903,15.5286903
                C26.3541504,13.7674248
                26.8824425,12.6921504
                26.7174425,12.2316106
                C26.5600354,11.7929735
                25.5881416,11.9089115
                25.5881416,11.9089115
                L22.3535575,11.9290619
                C22.3535575,11.9290619
                22.1137965,11.896354
                21.9359469,12.0026549
                C21.7621858,12.1069115
                21.6503363,12.349885
                21.6503363,12.349885
                C21.6503363,12.349885
                21.1383982,13.7128142
                20.4556195,14.8719027
                C19.0153009,17.3176991
                18.4394071,17.4467788
                18.2040265,17.2949204
                C17.6564602,16.9409735
                17.7931327,15.873
                17.7931327,15.114292
                C17.7931327,12.7441327
                18.1526283,11.755885
                17.0931239,11.5000619
                C16.7415133,11.4150796
                16.4827699,11.3590088
                15.5835929,11.3499558
                C14.429469,11.3379823
                13.4526106,11.3534602
                12.8994956,11.624469
                C12.531531,11.8046549
                12.2476726,12.2062035
                12.4205575,12.2292743
                C12.6343274,12.2578938
                13.1185221,12.3598142
                13.3752212,12.7093805
                C13.7066814,13.1602832
                13.695,14.1730619
                13.695,14.1730619
                C13.695,14.1730619
                13.8854071,16.9631681
                13.2502301,17.3098142
                C12.8142212,17.547531
                12.2161327,17.0621681
                10.9320531,14.8432832
                C10.2740973,13.7066814
                9.77734513,12.4503451
                9.77734513,12.4503451
                C9.77734513,12.4503451
                9.68155752,12.2155487
                9.51071681,12.0899735
                C9.30337168,11.937823
                9.01367257,11.8893451
                9.01367257,11.8893451
                L5.94,11.9094956
                C5.94,11.9094956
                5.47858407,11.9223451
                5.30920354,12.1229735
                C5.15851327,12.3014071
                5.29723009,12.6705398
                5.29723009,12.6705398
                C5.29723009,12.6705398
                7.70360177,18.3003982
                10.428292,21.1375221
                C12.9266549,23.7386814
                15.7637788,23.5678407
                15.7637788,23.5678407
                L15.7637788,23.5678407
                Z"
               id="Path"
              />
            </g>
          </g>
        </g>
      </g>
    </svg>
  </div>
</template>
