<template>
  <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M0 0h24v24H0z"/><path fill="#FF003C" d="M13.429 12L17 15.571 15.571 17 12 13.429 8.429 17 7 15.571 10.571 12 7 8.429 8.429 7 12 10.571 15.571 7 17 8.429z"/></g></svg>
</template>
