@import './scaffolding.styl'
  
.content-wrapper {
  display flex
  flex-flow column nowrap
  padding 56px
  position relative
  overflow hidden
  flex-grow 1

  +layout-mobile() {
    padding 24px 16px
  }

  &__content {
    background-color #fff
    border-radius 8px
    flex-grow 1
    padding 24px

    +layout-mobile() {
      padding 16px
    }

  }
}
