
/* Responsive breakpoints */


layout-tablet() {
    @media (max-width: $breakpoint-tablet) {
        {block}
    }
}

layout-mobile() {
    @media (max-width: $breakpoint-mobile) {
        {block}
    }
}

retina() {
    @media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
        {block}
    }
}
