.embed-test-html, .embed-test-body {
  margin 0
  padding 0
  box-sizing border-box
  height 100%
  min-height 100%
  font-family 'Roboto', sans-serif
}

.embed-test-body {
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased
  -ms-text-size-adjust 100%
  -webkit-text-size-adjust 100%

  *, *:before, *:after {
    box-sizing inherit
  }
}

@keyframes fadeIn {
  from {
    opacity 0
  }

  to {
    opacity 1
  }
}

.fadeIn {
  animation-name fadeIn
}

@keyframes fadeOut {
  from {
    opacity 1
  }

  to {
    opacity 0
  }
}

.fadeOut {
  animation-name fadeOut
}
